@import "../../styles/variables.scss";
.mainWrapper {
  width: 100%;
  height: auto;
  margin: 99px 0 0 0;
  border-top: 1px solid #d2d2d2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: var(--contentSize);
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    .leftSide {
      padding: 50px 0 0 0;
      width: 704px;
      height: auto;
      .addings {
        width: 100%;
        height: /*201px*/ auto;
        border-bottom: 1px solid #d2d2d2;
        padding: 0 0 35px 0;
        .addingsTitle {
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .addingsCards {
          margin: 25px 0 0 0;
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 35px;
        }
        .addingsTextBlock {
          margin: 35px 0 0 0;
          width: 100%;
          height: auto;
          padding: 0 25px 0 0;
          .textHeader {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .textHeaderTitle {
              color: #2c1417;
              font-family: "Corsica LX";
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .textHeaderRightBlock {
              width: fit-content;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              .signs {
                color: #ababab;
                font-family: "Corsica LX";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              .editContainer {
                width: 14px;
                height: 14px;
                margin: 1px 0 0 0;
                position: relative;
              }
            }
          }
          .addingsTextInput {
            margin:15px 0 0 0;
            width: 100%;
            height: 104px;
            padding: 15px 20px;
            color: #2c1417;
            font-family: "Corsica LX";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 10px;
            border: 1px solid #ababab;
            background: transparent;
            resize: none;
            &::placeholder {
              color: #a7a7a7;
            }
          }
        }
      }
      .deliveryDetails {
        width: 100%;
        height: 255px;
        border-bottom: 1px solid #d2d2d2;
        padding: 35px 44px 35px 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        .deliveryTitle {
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .deliveryBlock {
          width: 100%;
          height: 55px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          .deliveryBlockLeft {
            width: fit-content;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            .deliveryBlockLeftTitle {
              color: #2c1417;
              font-family: "Corsica LX";
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
          .deliveryBlockRight {
            color: #383838;
            font-family: "Corsica LX";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            cursor: pointer;
          }
        }
      }
      .getter {
        width: 100%;
        height: 185px;
        border-bottom: 1px solid #d2d2d2;
        padding: 35px 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        .getterTitle {
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .getterCheckBlock {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    .rightSide {
      padding: 50px 0 0 0;
      width: calc(var(--contentSize) - 704px);
      border: 1px solid #d2d2d2;
      align-self: stretch;
    }
  }
}
