@import "../../../styles/variables.scss";
@mixin font() {
  font-family: "Corsica LX";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  padding: 144px var(--gap-l) 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #ede8e2;
  .wrapper {
    width: min(100%, var(--contentSize));
    height: 377px;
    position: relative;
    padding: var(--gap-3xl) 0 0 0;
    .leftBlock {
      .title {
        @include font();
        color: #2c1417;
        font-size: var(--font-size-5xl);
        font-weight: 700;
        width: 565px;
      }
      .inputContainer {
        position: relative;
        margin: var(--gap-2xl) 0 0 0;
        .geolocation {
          position: absolute;
          top: 50%;
          left: 20px;
          width: 24px;
          height: 24px;
          translate: 0 -50%;
        }
        .input {
          width: 493px;
          height: 58px;
          border-radius: 10px;
          border: 1.5px solid #ababab;
          background: #fff;
          padding: 0 var(--gap-l) 0 54px;
          @include font();
          color: #636363;
          font-size: var(--font-size-l);
          font-weight: 500;
          &:focus {
            outline: none;
          }
          &::placeholder {
            font-size: var(--font-size-m);
          }
        }
        .showButton {
          @include font();
          width: 180px;
          height: 60px;
          border-radius: 10px;
          background: #383838;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          position:absolute;
          top:50%;
          left:503px;
          translate: 0 -50%;
          &:hover{
            cursor:pointer;
          }
        }
      }
      .confirmBlock {
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-s);
        margin: var(--gap-m) 0 0 0;
        & p {
          @include font();
          color: #636363;
          font-size: var(--font-size-m);
          font-weight: 500;
        }
        .faqContainer {
          width: 18px;
          height: 18px;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          .tooltip {
            width: 340px;
            height: 130px;
            position: absolute;
            bottom: 0;
            left: -234px;
            translate: 0 100%;
            padding: var(--gap-3xl) var(--gap-3xl) var(--gap-l) var(--gap-l);
            background: url(./assets/tooltip.svg) center / contain no-repeat;
            @include font();
            color: #383838;
            font-size: var(--font-size-s);
            font-weight: 500;
          }
        }
      }
      .additionalText {
        margin: var(--gap-xs) 0 0 var(--gap-2xl);
        @include font();
        color: #aaa;
        font-size: var(--font-size-s);
        font-weight: 500;
      }
    }
    .rightImage {
      width: 227px;
      aspect-ratio: 1/1;
      position: absolute;
      right: 0px;
      top: 46px;
    }
    .leftImage {
      width: 168px;
      aspect-ratio: 1/1;
      position: absolute;
      right: 108px;
      top: 133px;
    }
  }
}
