@import "../../../styles/variables.scss";
@mixin font() {
  font-family: "Corsica LX";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  padding: 0 var(--gap-l);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  .wrapper {
    width: min(100%, var(--contentSize));
    height: 380px;
    margin: var(--gap-2xl) 0;
    border-radius: 24px;
    background: #ede8e2;
    position: relative;
    padding: var(--gap-4xl) var(--gap-xs) var(--gap-xs) var(--gap-4xl);
    .leftBlock {
      .title {
        @include font();
        color: #2c1417;
        font-size: var(--font-size-4xl);
        font-weight: 700;
        width: 565px;
      }
      .inputContainer {
        position: relative;
        margin: var(--gap-5xl) 0 0 0;
        .geolocation {
          position: absolute;
          top: 50%;
          left: 16px;
          width: 24px;
          height: 24px;
          translate: 0 -50%;
        }
        .input {
          width: 530px;
          height: 40px;
          border-radius: 8px;
          border: 1.5px solid #ababab;
          background: #fff;
          padding: 0 var(--gap-m) 0 var(--gap-4xl);
          @include font();
          color: #636363;
          font-size: var(--font-size-l);
          font-weight: 500;
          &:focus {
            outline: none;
          }
          &::placeholder {
            font-size: var(--font-size-m);
          }
        }
      }
      .confirmBlock {
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-s);
        margin: var(--gap-2xl) 0 0 0;
        & p {
          @include font();
          color: #636363;
          font-size: var(--font-size-m);
          font-weight: 500;
        }
        .faqContainer {
          width: 20px;
          height: 20px;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          .tooltip {
            width: 272px;
            height: 104px;
            position: absolute;
            bottom: 0;
            left: -184px;
            translate: 0 100%;
            padding: var(--gap-2xl) var(--gap-2xl) 0 var(--gap-m);
            background: url(./assets/tooltip.svg) center / contain no-repeat;
            @include font();
            color: #383838;
            font-size: var(--font-size-xxs);
            font-weight: 500;
          }
        }
      }
      .additionalText {
        margin: var(--gap-2xs) 0 0 var(--gap-2xl);
        @include font();
        color: #aaa;
        font-size: var(--font-size-s);
        font-weight: 500;
      }
    }
    .rightImage {
      width: 317px;
      aspect-ratio: 1/1;
      position: absolute;
      right: 22px;
      top: 11px;
    }
    .leftImage {
      width: 255px;
      aspect-ratio: 1/1;
      position: absolute;
      right: 173px;
      top: 132px;
    }
  }
}
