.wrapper {
  width: 980px;
  height: 624px;
  border-radius: 36px;
  background: #ede8e2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--gap-5xl) var(--gap-5xl);
  .titleBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-s);
    .title {
      color: #2c1417;
      font-family: "Corsica LX";
      font-size: var(--font-size-2xl);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .subtitle {
      color: #757575;
      font-family: "Corsica LX";
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .inputBlock{
    width:100%;
    height:auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
