@import "../../../../../../../styles/variables.scss";

.wrapper {
  margin: 143px 0 81px 0;
  width: 889px;
  height: 507px;
  border-radius: 5px;
  background: #fff;
  padding: 70px 65px 0 65px;
  .header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      .title {
        color: #2c1417;
        font-family: "Corsica LX";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .description {
        margin: 15px 0 0 0;
        color: #2a181a;
        font-family: "Corsica LX";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 346px;
      }
    }
    .button {
      display: flex;
      width: 250px;
      height: 45px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background: #724846;
      color: #fff;
      font-family: "Corsica LX";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: none;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
  .cardsBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 33px 0 0 0;
    .card {
      width: 235px;
      height: 245px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      .topBlock {
        width: 100%;
        height: 170px;
        background: url(./assets/background.png) center / cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .number {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 25px;
          height: 25px;
          border-radius: 5px;
          border: 1.5px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-family: Geometria;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .imageContainer {
          width: 100px;
          height: 100px;
          position: relative;
        }
      }
    }
    .title {
      color: #2c1417;
      font-family: "Corsica LX";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 15px 0 0 20px;
    }
    .text {
      color: #2c1417;
      font-family: "Corsica LX";
      font-size: 8px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 5px 0 0 20px;
      width:149px;
    }
  }
}
