.wrapper {
  width: var(--contentSize);
  margin: 35px 0 0 0;
  .searchBlock {
    width: 100%;
    height: 60px;
    position: relative;
    margin: 0 0 35px 0;
    .searchInput {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #e9e9e9;
      border: none;
      color: #000;
      font-family: "Corsica LX";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 0 74px;
      &::placeholder {
        font-size: 16px;
        color: #636363;
      }
      &:focus {
        outline: none;
      }
    }
    .searchIconContainer {
      width: 39px;
      height: 39px;
      position: absolute;
      top: 50%;
      left: 25px;
      translate: 0 -50%;
    }
  }
  .content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .leftSide {
      width: 332px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;
      .chapterBlock {
        width: 100%;
        height: auto;
        .chapterTitle {
          width: 100%;
          height: auto;
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
        }
        .chapterArticles {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          padding: 10px 0 0 25px;
          .articleTitle {
            color: #5d5d5d;
            font-family: "Corsica LX";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
            &Active {
              color: #4b2d2b;
            }
          }
        }
      }
    }
    .rightSide {
      width: 613px;
      height: auto;
      .rightSideTitle {
        color: #2c1417;
        font-family: "Corsica LX";
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .rightSideArticleTitle {
        margin: 30px 0 0 0;
        color: #2c1417;
        font-family: "Corsica LX";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .rightSideArticleText {
        margin: 30px 0 0 0;
        color: #2c1417;
        font-family: "Corsica LX";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .rateBlock {
        margin: 30px 0 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        .question {
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .fingers {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          .rate {
            width: 65px;
            height: 40px;
            border-radius: 5px;
            background: #e9e9e9;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            .iconContainer {
              width: 25px;
              height: 25px;
              position: relative;
              &Rotated {
                rotate: 180deg;
              }
              .icon {
                filter: grayscale(1);
              }
            }
          }
        }
      }
      .splitter {
        margin: 47px 0;
        width: 100%;
        height: 1px;
        background: #a6a6a6;
      }
      .popularQuestions {
        width: 100%;
        height: auto;
        .popularQuestionsTitle {
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .pQuestions {
          margin: 30px 0 0 0;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 15px;
          .pQuestion {
            color: #2c1417;
            font-family: "Corsica LX";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
          }
        }
      }
    }
  }
}
