@import "../../../../../../styles/variables.scss";

.wrapper {
  width: var(--contentSize);
  height: auto;
  margin: 45px 0 45px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 140px;
  @media(max-width:$mobile-size){
    width:100%;
    flex-flow:column nowrap;
    gap:19px;
    margin:85px 0 0 0;
    padding:0 10px;
  }
  .leftSide {
    width: 234px;
    height: 90px;
    @media(max-width:$mobile-size){
      width:100%;
      height:auto;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
    .city {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      color: #2c1417;
      font-family: "Corsica LX";
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor:pointer;
      @media(max-width:$mobile-size){
        width:fit-content;
      }
      .pencilContainer {
        width: 23px;
        height: 23px;
        position: relative;
        @media(max-width:$mobile-size){
          width:16px;
          height:16px;
        }
      }
    }
    .shareBlock {
      width: 100%;
      margin: 26px 0 0 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      color: #724846;
      font-family: "Corsica LX";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor:pointer;
      @media(max-width:$mobile-size){
        margin:0;
        gap:5px;
        width:fit-content;
      }
      .shareContainer{
        width:34px;
        height:34px;
        position: relative;
      }
    }
  }
  .rightSide {
    width: calc(100% - 234px - 140px);
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    @media (max-width: $mobile-size) {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--gap-xs);
      row-gap: var(--gap-xs);
      margin:0 0 30px 0;
    }
  }
}
