@import "@/styles/variables.scss";
@mixin font() {
  font-family: "Corsica LX";
  font-style: normal;
  line-height: normal;
}

.wrapper {
  position: relative;
  @media (max-width: $mobile-size) {
    height: 30px;
  }
  .input {
    @include font();
    width: 326px;
    height: 38px;
    padding: var(--gap-xs) var(--gap-l) var(--gap-xs) var(--gap-4xl);
    border-radius: 10px;
    border: 1.5px solid #ababab;
    background: #fff;
    font-size: var(--font-size-m);
    font-weight: 400;
    @media (max-width: $mobile-size) {
      width: 30px;
      height: 30px;
      padding: 0;
      vertical-align: top;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: var(--font-size-s);
      font-weight: 500;
    }
    &:hover {
      border: 1.5px solid transparent;
    }
  }
  .iconWrapper {
    position: absolute;
    top: 50%;
    left: 20px;
    translate: 0 -50%;
    width: 25px;
    aspect-ratio: 1/1;
    @media (max-width: $mobile-size) {
      width: 20px;
      left: 50%;
      translate: -50% -50%;
    }
  }
}
