@import '../../../styles/variables.scss';

@mixin font(){
  font-family: "Corsica LX";
  font-size: var(--font-size-3xl);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: var(--gap-4xl) var(--gap-l);
  @media(max-width:$mobile-size){
    padding: var(--gap-8xl) var(--gap-l) var(--gap-m);
  }
  .wrapper {
    width: min(var(--contentSize), 100%);
    height: auto;
    & h1 {
      @include font();
      color: #2a181a;
      @media(max-width:$mobile-size){
        font-size:14px;
      }
      & span {
        @include font();
        color: #4b2d2b;
        @media(max-width:$mobile-size){
          font-size:14px;
        }
      }
    }
    .sliderWrapper {
      width: 100%;
      height: auto;
      margin: var(--gap-4xl) 0;
      position:relative;
      @media(max-width:$mobile-size){
        margin:20px 0;
      }
      &::-webkit-scrollbar{
        display:none;
      }
      scrollbar-width: none;
      .sliderBody {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-s);
        overflow: hidden;
        position: relative;
        .slide {
          position: absolute;
          top: 0;
          border-radius: 15px;
          overflow: hidden;
        }
      }
      .slideButton {
        width: 64px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 50%;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 0px 17.1px 1px rgba(0, 0, 0, 0.09);
        display:flex;
        justify-content: center;
        align-items: center;
        &:hover{
          cursor:pointer;
        }
      }
    }
  }
}
