@import "../../styles/variables.scss";

.wrapper {
  width: var(--contentSize);
  height: auto;
  margin: 25px 0 0 0;
  .title {
    width: 100%;
    height: auto;
    color: #2a181a;
    font-family: "Corsica LX";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 25px 0;
  }
  .filters {
    width: 100%;
    height: 50px;
    background: blue;
    position: sticky;
    top: 60px;
    left: 0;
    z-index:1;
  }
  .content {
    width: 100%;
    height: auto;
    .subfilter {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 35px 0;
      .subtitle {
        color: #383838;
        font-family: "Corsica LX";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .mainBlock {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      .leftSide {
        width: 320px;
        height: 400px;
        background-color: green;
        position: sticky;
        top: 110px;
      }
      .rightSide{
        width:calc(100% - 320px - 16px);
        height:auto;
        min-height:400px;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 30px;
        column-gap: 8px;
        .productCardContainer{
          width:216px;
          height:337px;
        }
      }
    }
  }
}
