@import "../../../../../../../styles/variables.scss";

.wrapper {
  width: 330px;
  height: 109px;
  border-radius: 5px;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 10px solid #d8d8d8;
  padding:15px 10px 15px 25px;
}
