@import "../../styles/variables.scss";
@mixin font() {
  font-family: "Corsica LX";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  padding: var(--gap-l);
  background: var(--mainBackgroundColor);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: $mobile-size) {
    padding: 0;
  }
  .wrapper {
    @include font();
    width: min(var(--contentSize), 100%);
    color: #ede8e2;
    font-size: var(--font-size-xl);
    font-weight: 600;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-l);
    @media (max-width: $mobile-size) {
      padding: var(--gap-xs) var(--gap-l);
      gap: var(--gap-xs);
    }
    .topBlock {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .topLeftBlock {
        width: fit-content;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-xl);
        @media(max-width:$mobile-size){
          flex-flow:column nowrap;
          align-items: flex-start;
          gap:3px;
        }
        .hurryUp {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: var(--gap-xs);
          &:hover{
            cursor:pointer;
          }
          & p {
            @include font();
            color: #4b2d2b;
            font-size: var(--font-size-s);
            font-weight: 600;
          }
          .arrowContainer{
            position:relative;
            width:10px;
            height:5px;
            margin-top:3px;
          }
        }
      }
      .topRightBlock {
        width: fit-content;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-l);
        @media (max-width: $mobile-size) {
          gap: 10px;
        }
      }
      .logo {
        position: relative;
        width: 172px;
        height: 22px;
      }
      .sideMenuButton {
        width: 72px;
        height: 44px;
        border-radius: 8px;
        background: #ede8e2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--gap-xs);
        @media (max-width: $mobile-size) {
          height: 30px;
          width: 46px;
          gap: 5px;
        }
        &:hover {
          cursor: pointer;
          background: #d0ccc7;
        }
        .sideMenuIconSortContainer {
          position: relative;
          width: 28px;
          aspect-ratio: 1/1;
          @media (max-width: $mobile-size) {
            width: 18px;
          }
        }
        .sideMenuIconHumanContainer {
          position: relative;
          width: 20px;
          aspect-ratio: 1/1;
          @media (max-width: $mobile-size) {
            width: 11px;
          }
        }
      }
    }
    .bottomBlock {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .categories {
        width: fit-content;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-xl);
        @media (max-width: $mobile-size) {
          gap: 15px;
        }
        .category {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: var(--gap-s);
          @media (max-width: $mobile-size) {
            gap: 5px;
          }
          &:hover {
            cursor: pointer;
          }
          .categoryIcon {
            position: relative;
            width: 22px;
            height: 22px;
            @media (max-width: $mobile-size) {
              width: 11px;
              height: 11px;
            }
          }
          .categoryTitle {
            @include font();
            color: #898989;
            font-size: var(--font-size-l);
            font-weight: 600;
            &Active {
              color: #2a181a;
            }
            @media (max-width: $mobile-size) {
              font-size: 8px;
            }
          }
        }
        .instagramButton {
          width: 247px;
          height: 38px;
          border-radius: 48px;
          background: #ede8e2;
          padding: var(--gap-xs) var(--gap-m);
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: var(--gap-s);
          .instagramIconContainer {
            width: 19px;
            aspect-ratio: 1/1;
            position: relative;
          }
          & p {
            @include font();
            color: #898989;
            font-size: var(--font-size-m);
            font-weight: 600;
          }
        }
      }
      .bottomRightBlock {
        width: fit-content;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-xl);
        @media (max-width: $mobile-size) {
          gap: 15px;
        }
      }
    }
  }
}
