@import '../../styles/variables.scss';
@mixin font(){
  font-family: "Corsica LX";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  background: #2a181a;
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  .wrapper {
    @include font();
    width: min(var(--contentSize), 100%);
    padding: var(--gap-4xl) 0 var(--gap-2xl);
    color: #ede8e2;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: center;
    @media(max-width:$mobile-size){
        gap:var(--gap-xl);
    }
    .mobileSelectors{
        width:100%;
        height:auto;
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    .topBlock {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--gap-8xl);
      @media(max-width:$mobile-size){
        flex-flow:column nowrap;
        flex-direction: column-reverse;
        gap:var(--gap-2xl);
      }
      .topLeftBlock {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--gap-2xl);
        .logoContainer {
          position: relative;
          width: 172px;
          height: 22px;
          @media(max-width:$mobile-size){
            width:127px;
            height:17px;
          }
        }
        .mainInfo {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: var(--gap-s);
          & p {
            @include font();
            color: #dfc7b7;
            font-size: var(--font-size-l);
            font-weight: 400;
          }
        }
      }
      .topRightBlock {
        max-width: 952px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: var(--gap-4xl);
        column-gap: var(--gap-4xl);
        @media(max-width:$mobile-size){
            gap:var(--gap-2xl);
            flex-flow:column nowrap;
        }
        .category {
          width: fit-content;
          height: auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: var(--gap-xl);
          .title {
            @include font();
            width: fit-content;
            color: #ede8e2;
            font-size: var(--font-size-xl);
            font-weight: 600;
            @media(max-width:$mobile-size){
                font-size: var(--gap-m);
            }
          }
          .links {
            width: fit-content;
            height: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: var(--gap-s);
            & p {
              @include font();
              color: #dfc7b7;
              font-size: var(--font-size-m);
              font-weight: 400;
              @media(max-width:$mobile-size){
                font-size: var(--font-size-s);
              }
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .splitter {
      width: 100%;
      height: 1px;
      background: #7e7e7e;
      margin: var(--gap-2xl) 0 var(--gap-xl);
      @media(max-width:$mobile-size){
        display:none;
      }
    }
    .bottomBlock {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .bottomLeftBlock {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-4xl);
        @media(max-width:$mobile-size){
            gap:var(--gap-m);
            flex-flow:column nowrap;
            align-items: flex-start;
        }
        .logoBottomContainer {
          position: relative;
          width: 118px;
          height: 15px;
          @media(max-width:$mobile-size){
            display:none;
          }
        }
        & p {
          @include font();
          color: #dfc7b7;
          font-size: var(--font-size-m);
          font-weight: 400;
          @media(max-width:$mobile-size){
            font-size: var(--font-size-s);
          }
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .bottomRightBlock{
        width:fit-content;
        height:auto;
        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap:var(--gap-2xl);
        @media(max-width:$mobile-size){
            display:none;
        }
      }
    }
  }
}
