@mixin font() {
  color: #2c1417;
  font-size: 14px;
  font-family: "Corsica LX";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper {
  border-radius: 5px;
  background: #ede8e2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height:auto;
  width:fit-content;
  gap:15px;
  padding:5px;
  .operator {
    user-select: none;
    width:23px;
    height:23px;
    &:hover{
        cursor:pointer;
    }

  }
  .value{
    @include font();
    user-select: none;
  }
}
