@mixin font {
  font-family: "Corsica LX";
  font-style: normal;
  line-height: normal;
}

.wrapper {
  width: fit-content;
  height: 17px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-xs);
  position: relative;
  &HeaderMobile{
    height:auto;
  }
  &:hover {
    cursor: pointer;
  }
  .value {
    width: fit-content;
    height: auto;
    .currentValueText {
      @include font();
      color: #dfc7b7;
      font-size: var(--font-size-m);
      font-weight: 600;
      &Header{
        color:#898989;
      }
    }
    .currentImageContainer {
      position: relative;
      width: 26px;
      height: 18px;
      //filter: drop-shadow(0px 0px 5.5px rgba(0, 0, 0, 0.25));
    }
  }
  .arrowContainer {
    width: 10px;
    height: 5px;
    position: relative;
    object-fit: contain;
    &Active {
      rotate: 180deg;
    }
  }
  .selectList {
    position: absolute;
    left: 50%;
    translate: 0 -100%;
    width: fit-content;
    height: auto;
    border-radius: 7px;
    background: #fff;
    padding: var(--gap-l) var(--gap-2xl) var(--gap-l) var(--gap-s);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-2s);
    &Header {
      bottom: -1px;
      translate: -50% 100%;
    }
    &Footer {
      top: -1px;
      translate: -50% -100%;
    }
    .listWrapper {
      width: fit-content;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: var(--gap-xs);
      .checkWrapper {
        position: relative;
        width: 15px;
        aspect-ratio: 1/1;
      }
      .iconWrapper {
        position: relative;
        width: 20px;
        height: 15px;
      }
      .title {
        @include font();
        color: #2c1417;
        font-size: var(--font-size-s);
        font-weight: 500;
      }
    }
  }
}

.selectList {
  position:relative;
  width: fit-content;
  height: auto;
  border-radius: 7px;
  background: #fff;
  padding: var(--gap-l) var(--gap-2xl) var(--gap-l) var(--gap-s);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-2s);
  z-index:100;
  .listWrapper {
    width: fit-content;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-xs);
    .checkWrapper {
      position: relative;
      width: 15px;
      aspect-ratio: 1/1;
    }
    .iconWrapper {
      position: relative;
      width: 20px;
      height: 15px;
      //filter: drop-shadow(0px 0px 5.5px rgba(0, 0, 0, 0.25));
    }
    .title {
      @include font();
      color: #2c1417;
      font-size: var(--font-size-s);
      font-weight: 500;
    }
  }
}
