@import "../../../../../../styles/variables.scss";

.wrapper {
  width: 889px;
  height: auto;
  .main {
    margin:115px 0 65px 0;
    width: 100%;
    height: 680px;
    border-radius: 5px;
    background: #fff;
    padding: 40px 65px 44px 65px;
    .header {
      width: 100%;
      height: 66px;
      border-bottom: 1px solid #c0c0c0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      .selector {
        width: fit-content;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 45px;
        .selectorItem {
          width: fit-content;
          height: auto;
          padding: 10px 0;
          border-bottom: 3px solid transparent;
          color: #898989;
          font-family: "Corsica LX";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          &Active {
            border-bottom: 3px solid #383838;
            color: #383838;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      .button {
        align-self: flex-start;
        width: 205px;
        height: 46px;
        border-radius: 5px;
        background: #724846;
        color: #fff;
        font-family: "Corsica LX";
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
    .screen {
      margin: 55px 0 0 0;
      width: 100%;
      height: 475px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      .calendarContainer {
        width: 389px;
        height: 100%;
        overflow: scroll;
        scrollbar-width: none;
      }
      .eventsContainer {
        width: 330px;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        display:flex;
        flex-flow:column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap:10px;
        .eventsTitle {
          color: #2c1417;
          font-family: "Corsica LX";
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .eventCardsBlock{
            display:flex;
            flex-flow:column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap:15px;
        }
      }
    }
  }
}
